/* The entire card has a box shadow. x
The card title has a solid 1px border that is `lightblue`. x
The title and product image are centered. x
Notice that the text for the description in the image is justified. x
The text for the product specification details and pricing details is bold. x
The availability element extends the full width of the card, with a dark grey background and yellow text. x */

.soldout {
    bottom: 200px;
    display: flex;
    float: right; 
    right: 25%;
}

body {
    background-color: #607D8B;
    font-family: 'Playfair Display', serif;
}

.cardbox {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.card {
    align-items: center;
    background-color: #CFD8DC;
    border: 4px solid black;
    box-shadow: 5px 5px 5px black;
    box-sizing: content-box;
    /* display: inline-block; */
    /* flex-grow: 1; */
    height: 700px;
    margin: 10px;
    width: 500px;
}

.card > div > p {
    display: flex;
    text-align: justify;
    object-fit: contain;
    width: 100%;
}

.card img {
    display: block;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 50%;
}

.card > header > h2 {
    border: 1px solid lightblue;
    text-align: center;
}

.available {
    background-color: darkgray;
    color: yellow;
}

p {
font-size: 14px;
font-weight: bold;
}



/* .dark-primary-color    { background: #455A64; }
.default-primary-color { background: #607D8B; }
.light-primary-color   { background: #CFD8DC; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #00BCD4; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; } */